<!DOCTYPE html>
<html>
	<head>
		<title>Dungeons and food</title>
		<link rel="stylesheet" href={{ url_for('static', filename='css/materialize.css') }} />
		<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
		<link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }} />
	
	</head>
	<body>
		<nav>
			<ul>
				<li> <img id="logo" src={{ url_for('static', filename='images/food_icon.png') }} alt=""> </li>
				<li id="name"> Dungeons and Food </li>
			</ul>
		</nav>
	</body>
</html>
